*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main1{
    background-image: url(../img/backgroundmain.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.div1{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}
.hover-dropdown1:hover .on-hover1{
                  display: block;
}
.border{
    border: 1px solid red;
}
@media(min-width:500px){
    .font-size{
        font-size: 50px;
    }
}
@media(max-width:500px){
    .font-size{
        font-size: 30px;
    }
}
/* .font-size{
    font-size: 50px !important;
} */
.font-color{
    color: #C9C8C9 !important;
}
.hover-dropdown2:hover .on-hover2{
    display: block;
}
.div2{
    /* display: flex; */
    
    width:  45px;
    height: 45px;
}
.icon1{
  font-size: 25px;
}
.btn1{
    width: 35%;
    height: 50px;
    background-color: #037ef3;
    border: none;
    color: #ffff;
    border-radius: 5px;
}
.btn2{
    width: 35%;
    height: 50px;
    background: none;
    border: 1px solid #ffff;
    color: #ffff;
    border-radius: 5px;
}
@media (max-width:400px){
    .btn1,.btn2{
       width: 50%;
    }
}
.main2{
    background-color: #1B1C1E;
    color: #ffff;
}
.img1{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media(min-width:991px){
    .para1{
        width: 70%;
    }
}
.btn3{
    width: 35%;
    height: 50px;
    background-color: #037ef3;
    border: none;
    color: #ffff;
    border-radius: 5px;
}
@media(max-width:400px){
    .btn3{
        width: 70%;
    }
}
.main3{
    background-color: #1F2022;
    color: #ffff;
}
.img2{
    width: 100%;
    height: 100%;
}
.div2{
    width: 80px;
    height: 80px;
}
.main4{
    background-color: #1B1C1E;
    color: #ffff;
}
.img3{
    width: 100%;
    height: 100%;
}
.main5{
    background-color: #1B1C1E;
    color: #ffff;
}
.img4{
    width: 100%;
    height: 100%;
}
.img5{
    width: 100%;
    height: 100%;
}
.img6{
    width: 100%;
    height: 100%;
}

@media(min-width:768px){
    .div3{
        width: 65%;
    }
}
.btn4{
    width: 40%;
    height: 50px;
    background-color: #037ef3;
    color: #ffff;
    border-radius: 10px;
    border: none;
}
@media(max-width:500px){
    .btn4{
        width: 70%;
    }
}
.div4{
    /* border: 1px solid white; */
    width: 50%;
    height: 50px;
}
.div5{
    background-color: #0F0F11;
    
}
.div5:hover{
    background-color: #037EF3;
    transition: 0.3s;
}

.para2{
    color: #6F7071;
}
.main6{
    /* background-color: #1B1C1E; */
    color: #ffff;
}
.img7{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.div7{
width: 50px;
height: 50px;
border-radius: 50%;
}
.div8:hover{
    background-color: #037EF3;
    border-radius: 10px;
}
.para3{
    font-weight: bold;
}
.para4{
    font-size: 14px;
    color: #6F7071;
}
.para5{
    text-align: justify;
}
@media(min-width:1000px){
    .div8{
        width: 70%;
    }
}
.para6{
    color: #8D8E8F;
}
.div8a{
    background-color: #037EF3;
    border-radius: 10px;
}
@media(min-width:1000px){
    .div8a{
        width: 70%;
    }
}
.para7{
    color: #8D8C84;
}
.main7{
    background-color: #1F2022;
    color: #ffff;
}
.para8{
    text-decoration: underline;
    color: #8D8C84;
}
.para8:hover{
    text-decoration: none;
    color: #ffff;
}
.img8{
    width: 100%;
    height: 100%;
}
@media(min-width:768px){
    .div9{
        width: 65%;
    }
}
.para9{
    color: #8D8C84;
}
.input1{
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
    color: #ffff;
    font-size: 20px;
}
.input1:focus{
    background-color: #272829;
}
.div10{
    width: 100%;
    height: 50px;
    background-color: #1F2022;
}
/* .div10:{
    background-color: #037EF3;
} */
.input1::-webkit-input-placeholder{
    color: #BCBDBD;
}
.input2{
    width: 100%;
    outline: none;
    background-color: #1F2022;
    border: none;
    color: #ffff;
}
.input2:focus{
    background-color: #272829;
    color: #ffff;
}
.input2::-webkit-input-placeholder{
    color: #BCBDBD;
}
@media(min-width:400px){
    .main7{
    padding: 3rem !important;
    }
}
.input1:focus{
    padding-left: 20px;
    transition: 0.5s;
}
.input2:focus{
    padding-left: 20px;
    transition: 0.5s;
}
.btn5{
    background-color: #037ef3;
    border: none;
    color: #ffff;
    width: 15%;
    height: 50px;
    border-radius: 10px;
}
@media(max-width:992px){
    .btn5{
        width: 20%;
    }
}
@media(max-width:768px){
    .btn5{
        width: 30%;
    }
}
@media(max-width:430px){
    .btn5{
        width: 35%;
    }
}
@media(max-width:360px){
    .btn5{
        width: 40%;
    }
}
@media(max-width:320px){
    .btn5{
        width: 45%;
    }
}
.para10{
    text-decoration: none;
    color: #8D8C84;
}
.para11{
    text-decoration: none;
    color: #8D8C84;
    font-size: 25px;
}
.main10{
    background-color:#1B1C1E;
    color: #ffff;
}
.para12{
    color: #8D8C84;
}
.hover1:hover{
    color: #ffff !important;
    transition: 0.4s;
}
.hover2:hover{
    color: #7A7A7A !important;
}
.para13{
    color: #ffff;
    font-size: 60px;
}

